.titlePlaceholder
  font-size: 24px
  font-weight: 700
  color: var(--neutral-color-500)
  font-family: SF Pro Text, SF Pro Display, system-ui, -apple-system, Helvetica, Arial, sans-serif

.titleEditor
  margin: 0
  font-size: 24px
  font-weight: 700
  color: var(--neutral-color-800)
  font-family: SF Pro Text, SF Pro Display, system-ui, -apple-system, Helvetica, Arial, sans-serif

.summaryPlaceholder
  font-size: 16px
  font-weight: 400
  color: var(--neutral-color-500)
  font-family: SF Pro Text, SF Pro Display, system-ui, -apple-system, Helvetica, Arial, sans-serif

.summaryEditor
  margin: 0
  font-size: 16px
  font-weight: 400
  color: var(--neutral-color-800)
  font-family: SF Pro Text, SF Pro Display, system-ui, -apple-system, Helvetica, Arial, sans-serif
