.tagContainer
    display: inline-flex
    position: relative

.normalCursor
    cursor: default !important

.optionsMenu
    background-color: var(--neutral-color-100)
    position: absolute
    z-index: 1
    top: calc(100% + 8px)
    left: 0
    border: none
    box-shadow: var(--shadow-1-color)
    border-radius: 8px
    padding: 8px 0px
    width: 200px
    font-family: var(--font-family-default)
    font-size: 14px
    color: var(--neutral-color-800)
    font-weight: 600

.itemContainer
    cursor: pointer
    padding: 4px 8px
    transition: background-color 0.2s
    &:hover
        background-color: var(--neutral-color-200)

.itemText
    flex: 1

.projectIcon
    display: flex
    justify-content: center
    align-items: center
    width: 18px
    height: 18px
    color: var(--neutral-color-100)
    font-family: var(--font-family-default)
    font-size: 10px
    border-radius: 9999px
    border: 1px solid var(--neutral-color-100)

.projectIconLeft
    margin-left: -10px